body {
    margin: 0;
    background: #eee;
    color: #333;
    line-height: 1.6;
    font-family: sans-serif;
    font-weight: 100;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.content {
    width: 840px;
    margin: 40px auto 0;
    background-color: #fff;
    padding: 2em;
}
.hello {
    padding-bottom: 1em;
    border-bottom: 1px solid #333;
}